@use 'mixin';

.container {
    @include mixin.flex-box();
    width: 600px;
    height: 400px;
    background-color: bisque;
    .box {
        width: 60px;
        height: 60px;
        background-color: brown;
        text-align: center;
        line-height: 60px;
    }
}