@use 'mixin';

.header ul {
    //pemanggilan mixin
    //@include [nama mixin]
    @include mixin.inline-list();
    li {
        background-color: coral;
        padding: 0.7em;
        a {
            color: white;
        }
    }
}